<!DOCTYPE html>
<html>
<head>
    <title>HAHA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('get', '/validate');
    xhr.setRequestHeader('accept', 'application/json');
    xhr.setRequestHeader('content-type', 'application/json');
    xhr.addEventListener('readystatechange', function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
            var obj = JSON.parse(xhr.responseText);
            console.log(obj);
            document.querySelector('.message').innerHTML = 'Welcome: ' + obj.user.username + '!';
            if(obj){
                document.querySelector('.register').style.display = 'none';
                document.querySelector('.logout').style.display = 'block';
            }
        }
    });

    xhr.send();
</script>
<body class="text-center">
<h2 class="text-center">HOME</h2>
<div class="container">
    <a href="/" class="btn-lg btn btn-primary">Go Home</a>
    <a href="/login" class="btn-lg btn btn-info">Login</a>
    <a href="/register" class="btn-lg btn btn-success">Register</a>
    <a href="/logout" class="btn-lg btn btn-danger" >logout</a>
</div>
<br>
<div class="message text-center text-success"></div>
</body>
</html>